{
  "DB_PORT_SW": "3306",
  "DB_HOST_Sw": "127.0.0.1",
  "DB_NAME_SW": "sion_system",
  "DB_USER_SW": "root",
  "DB_PWD_SW": "root",

  "DB_PORT_RECODS": "3306",
  "DB_HOST_RECODS": "127.0.0.1",
  "DB_NAME_RECODS": "sion_records",
  "DB_USER_RECODS": "root",
  "DB_PWD_RECODS": "root",

  "DB_PORT_O": "3306",
  "DB_HOST_O": "127.0.0.1",
  "DB_NAME_O": "sion_orbcomm",
  "DB_USER_O": "root",
  "DB_PWD_O": "root"
}
