{{ define "css" }}
<link
  rel="stylesheet"
  type="text/css"
  href="/static/css/dashboard.css"
  media="all"
/>
{{ end }}

{{define "js"}}
<script>
  var URLWS = "{{.URLWS}}";
  var URLWSA = "{{.URLWSA}}";
  var CHART_THEME = {{.ChartTheme}};

  var MatrixID = {{.MatrixID}};
  if (MatrixID == 2) {
    MatrixID = "[2,6]";
  }
  var RT = {{.RT}};
  var IsViewMin = {{.IsDashboardMin}};

  var FUSION_VARS = [];

  var SYSTEM_HOST = window.location.host;
</script>
<script src="/static/js/math.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/moment-timezone-with-data-1970-2030.min.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-3d.js"></script>
<script src="/static/js/cylinder.js"></script>
<script src="/static/js/exporting.js"></script>
<script src="/static/js/export-data.js"></script>
<!--<script src="/static/js/accessibility.js"></script>-->

<script src="/static/js/src/dashboard_module.js"></script>
{{ end }}
