{{ define "login" }}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>OGM v4: Login</title>
  <meta name="description" content="OGM">

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="/static/favicon/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/static/css/ogm.css" media="all">
  <link rel="stylesheet" href="/static/icon-font/material-icons.css">
</head>

<body class="login_bg">

  <div class="background"></div>

  <div id="content-main"></div>

  <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
  <script src="/static/js/src-min/login.js"></script>
</body>

</html>

{{ end }}
