./insert.go

.DS_Store
app.config

node_modules

webapp/build

files/chart_events/*
files/report/*
files/template/*

public/images/groups/*.png
public/images/avatars/*

!public/images/avatars/default.png
!public/images/groups/marker_icon.png
!files/template/custom_report_generic.xlsx

SION-sw
InsertReports
InsertCharts
InsertAlarms
InsertReportsBJ
InsertChartsBJ
InsertAlarmsBJ
A