label {
  line-height: 1.1em !important;
}
input,
textarea {
  outline: 0px;
}
.rojottx_btn {
  background: #AD172B;
}
.rojottx_btn:hover,
.rojottx_btn:focus,
.rojottx_btn:active {
  background: #da1d36;
}
.login_bg {
  background: url(../images/ttx_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login {
  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .login_body {
  border-radius: 0.5em;
  padding: 0em 2em 2.4em 2em;
  width: 450px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #080348;
}
.login .logointro img {
  width: 100%;
  padding: 2em 5em;
}
.login input:not([type]),
.login input[type=text]:not(.browser-default),
.login input[type=password]:not(.browser-default),
.login input[type=email]:not(.browser-default),
.login input[type=url]:not(.browser-default),
.login input[type=time]:not(.browser-default),
.login input[type=date]:not(.browser-default),
.login input[type=datetime]:not(.browser-default),
.login input[type=datetime-local]:not(.browser-default),
.login input[type=tel]:not(.browser-default),
.login input[type=number]:not(.browser-default),
.login input[type=search]:not(.browser-default),
.login textarea.materialize-textarea {
  color: #fff !important;
  width: 96%;
  border: 1px solid #e6e6e6;
  padding: 0 0.5em;
}
